.l3 {
    width: 30%;
    background: rgb(44,44,44);
    float: left;
}

.r7 {
    width: 70%;
    float: left;

}
body {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
  font-size: 62.5%;
}
* {
    list-style: none;
    padding: 0;
    margin: 0;
}
#head{
	text-align: center;
	font-size: 2.0em;
}
#head img {
    width: 50%;
    border-radius: 50%;
    margin-top: 20px;
    border: 5px solid;
    border-color: #E72C4C;
}
#head span{
	color: rgb(137,137,137);
}
#head h3{
	color: #fff;
}
ul li{
	padding-bottom: 20px;
}
.bar{
	width:100%;
	background: rgb(231,44,76);
	color: #fff;
	text-align: center;
	font-size: 2.0em;
	padding-top: 2px; 
	padding-bottom: 4px;
}
#contact{
	text-align: center;
}
#contact h3{
	color: #fff;
	font-size: 2.0em;
}
#contact i{
	 border-radius: 50%;
	 width: 35px;
	 color: #fff;
	 margin-top: 20px;
	 font-size: 3.5em;
    background: rgb(226,36,67);
}


#aboutme{
	text-align: center;
}
.Content{
	padding-top: 12px;
	width: 80%;
	margin: 0 auto;
	text-align: left;
	color: rgb(186,186,186);
	font-size: 1.5em;
}

#software h3{
	color: #fff;
	font-size:1.2em; 
}
.in{
	height: 18px;
	background: #fff;
}
.out{
	width: 100%;
	background: rgb(226,36,67)
}
.r7 ul li{
	padding-top: 20px;
	padding-bottom: 0;
}
.r7 ul{
	margin: 0 auto;
	width: 95%;
}
.rhead i{
	font-size: 1.0em;
	padding-left: 8px;
	padding-right: 8px;
}

.rhead{
	width:100%;
	background: #000;
	color: #fff;
	text-align: center;
	font-size: 2.0em;
	height: 32px;
}
.rhead .iconx{
	text-align: left;
    background: rgb(231,44,76);
    width: 41px;
    height: 32px;
    float: left;
}

.tlfet{
	float: left;
	text-align: left;
	width: 50%
}
.trigth{
	float: left;
	text-align: right;
	width: 50%
}
.content{
	margin-top: 10px;
	color: rgb(186,186,186);
}
.content ul {
	width: 100%;
}
.content ul li {
	padding-top: 10px;
	padding-bottom:0;
}
.content ul li span{
	font-size: 1.8em;
}
.content ul li div h3{
	font-size: 2.0em;
	color: #000;
}
#like>.content>*{
	float: left;
	padding-left: 10px;
	color:rgb(71,71,71);

}
#want .content strong{
	font-size: 1.8em;
	color: rgb(71,71,71);
	padding-right: 12px;
}
